body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 29 pt;
    color: #255295;
}

*
*:before
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.first-page {
      width: 100%;
      height: 100vh;
  }

.header {
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
}

.nav {
    /* display: flexbox;
    justify-content: space-between; нужно другое размещение для меню*/

    font-size: 15pt;
    text-transform: uppercase;

    transition: color .2s linear;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    color: #940303;
    text-decoration: none;
}

.nav-link:hover {
    color: #005198;
}