body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 29 pt;
    color: #255295;
}

.first-page {
      width: 100%;
      height: 100vh;
  }

.header {
      width: 100%;

      position: absolute;
      top: 0;
      left: 0;
      right: 0;
}

.nav {
    font-size: 11pt;
    text-transform: uppercase;

    transition: color .2s linear;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    color: #940303;
    text-decoration: none;
}

.nav-link:hover {
    color: #005198;
}